[submodule "third_party/doxygen-awesome-css"]
	path = third_party/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "third_party/ktx"]
	path = third_party/ktx
	url = https://github.com/KhronosGroup/KTX-Software.git
[submodule "third_party/spirv-cross"]
	path = third_party/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
